build/
nbproject/private
# Compilación
/bin/
/build/
/out/
/target/
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Configuración de IDEs
# IntelliJ IDEA
.idea/
*.iml
*.iws

# Eclipse
.project
.classpath
.settings/
.metadata/
*.tmp

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Otros
*.swp
*~
